.criar-conta-container {
  display: flex;
  justify-content: center;
  align-items: center;
  
  background-color: #8C52FF;
}


.criar-conta-container .criar-conta-titulo {
  margin-left: 0px ;
}


.criar-conta-box {
  display: flex;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  max-width: 900px;
  width: 100%;
  margin:70px;
}


.criar-conta-form-container {
  padding: 40px;
  flex: 1;
  display: flex;
  flex-direction: column;
}


.cadastro-image-side {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
}


.cadastro-image-side img {
  max-width: 80%;
  height: auto;
}


.cadastro-input {
  width: 100%;
  display: block;
  padding: 8px;
  margin-top: 5px;
  margin-bottom: 5px;
  border: 2px solid #ccc;
  border-radius: 8px;
  font-size: 14px;
}


.login-button {
  background-color: #8C52FF;
  border: none;
  color: white;
  padding: 10px 50px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  border-radius: 50px;
  margin-left: 120px;
  margin-top: 20px;
}






