.lista-div {

  border-radius: 50px;
  margin: 3rem auto;
  max-width: 1200px;
  font-family: "Roboto", sans-serif;
}

.lista .textoGrande {
  font-size: 30px;
  line-height: 18px;
  margin-top: -8px;
  margin-left: 15px;
}

.content {
  display: flex;
  flex-wrap: wrap; /* Permite que os itens quebrem de linha */
  justify-content: space-between; /* Distribui o espaço entre os itens */
}

.content ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.content ul li {
  background-color: #F5F5F5;
  margin: 10px;
  min-width: 220px;
  width: calc(20% - 20px); 
  box-sizing: border-box;
  padding: 15px;
  border-radius: 12px;
  box-shadow: 3px 3px 3px rgb(164, 164, 164);
}
.listaUl {
  display: flex;
  flex-direction: column;
  align-items: center; /* Centraliza horizontalmente */
  justify-content: center; /* Centraliza verticalmente (caso necessário) */
}

.content #titulo {
  text-align: center;
  margin: 0;
  font-size: 20px;

}

.content #intrinseca{
  font-size: 13px;
  margin-top: -1px;
  text-align: center;
}

.content #preco{
  text-align: center;
  font-size: 25px;
  margin-bottom: auto;
  margin-top: auto;
} 

#capa {
  width: 100px;
  height: 150px;
  text-align: center;
  margin: 0 auto;
  display: block;
  border-radius: 5px;
}

#unidade{
  font-size: 13px;
  background-color: rgb(231, 231, 231);
  max-width: 27%;
  margin-left: 2px;
  padding: 5px;
  border:solid 1px black;
  border-radius: 10px;
}

.button-Comprar {
  
  padding: 10px 30px;
  border: none;
  border-radius: 20px;
  background-color: #8C52FF;
  color: white;
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.3s;
  margin-bottom: 1px;
  margin-left: 22%;
  margin-top: 10px;
}

.button-Comprar:hover {
  background-color: darkblue;
}

@media (max-width: 760px) {
  .lista {
    overflow-x: auto;
  }

  .lista .textoGrande {
    text-align: center;
    font-size: 80px;
    padding: 40px 0;
  }

  .content {
    height: auto;
    width: 80%;
    margin: 10px auto;
    float: none;
    display: flex;
    flex-direction: column;
  }

  .scroll-wrapper {
    display: flex;
    flex-wrap: nowrap;
  }

  .content {
    flex: 0 0 auto;
  }

  .content ul li {
    width: 100%; /* No mobile, cada item ocupa toda a largura */
  }

  #capa {
    width: 100%;
    height: auto;
  }

  p {
    padding: 0 8px;
  }

  h6 {
    font-size: 20px;
  }

  .button-Comprar {
    font-size: 14px;
    padding: 8px 16px;
  }
}
