@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');




.login-container {
  background-color: #8C52FF;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}


.login-box {
  display: flex;
  background-color: #fff;
  width: 800px;
  height: 500px;
  border-radius: 10px;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}


/* Estiliza o formulário */
.login-form-container {
  flex: 1;
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;


}


.login-container .titulo-login {
  font-size: 2rem;
  margin-bottom: 20px;
  font-family: 'Roboto', sans-serif;
  margin-left: 20px;
  color: #000;
 
}

 .login-container .login-button {
  width: 60%;
  padding: 12px;
  background-color: #8C52FF !important; 
  color: white;
  border: none;
  border-radius: 100px;
  font-size: 1rem;
  margin-left: 60px;
  margin-top: 20px;
}



.login-container .login-form-group {
  margin-bottom: 15px;
}


.login-container .login-input {
  width: 100%;
  padding: 8px;
  border-radius: 8px;
  border: 2px solid #ccc;
  margin-left: 10px;
}


.login-container .label-email {
  margin-left: 10px;
  margin-bottom: 5px;
}


.login-container .label-password {
  margin-left: 10px;
  margin-bottom: 5px;
}



.cadastro-link {
  display: block;
  margin-top: 20px;
  margin-right: 100px;
  text-align: center;
  color: #8A2BE2;
  text-decoration: none;
}



/*  imagem */
.login-image-container {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color:#ffffff;
}


.login-image {
  width: auto;
  height: auto;
  max-width: 90%;
  margin-left: -40px;
  max-height: 80%;
  object-fit: contain; /* Mantém a proporção da imagem */
}


/*parte do link em baixo do bnt*/


.inline-links {
  margin-left: 50px;
  display: flex;
  gap: 5px; /* Espaço entre os links */
}


.inline-links a {
  text-decoration: none;
  font-size: 1rem;
}


.inline-links .no-cadastro {
  color: black;
}


.inline-links .cadastro {
  color: #8A2BE2;
}
