@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,500;1,14..32,500&family=Playwrite+AR:wght@100..400&display=swap');

/*fonte que vai ser removida*/
@import url('https://fonts.googleapis.com/css2?family=Playwrite+AR:wght@100..400&display=swap');

.body #divMain {
  max-height: 90px;
  padding: 10px;
  max-width: 100%;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  font-size: larger;
  background-color: #8C52FF;
  display: flex;
}

.body .cabecario {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  color: white;
  max-width: 100%;
  margin:auto;
}

.body #logo {
  max-width: 150px; 
  height: auto;
  margin-right: auto;
  margin-left: 10%;
  
}

.body .cabecario > * {
  flex-grow: 1; 
}


.conjuntoLista{
  max-width: 800px;
  margin: 0 auto;
  text-align: center; 
}

.conjuntoLista .lista {
  display: inline-block;
  margin:0 20px;
  
}


@media (max-width: 760px) {

  .body .cabecario {
    flex-direction: column;
  }
  .conjuntoLista {
    text-align: center;
  }
}

.buttons {
  color: rgb(241, 241, 241);
}

a:hover {
  color: rgb(255, 255, 255);
  transition: 0.3s all;
}

#button-vendaJa {
    border: 2px solid #5CD4B4;
    padding: 12px;
    border-radius: 37px;
    color: white;
    background-color: #5CD4B4;
    box-shadow: 1px 1px 2px rgb(84, 84, 84);
    transition: all 0.3s ease; 
  }
  
  #button-vendaJa:hover {
    box-shadow: 1px 2px 3px rgb(84, 84, 84); 
    transform: scale(1.05);
  }
  